.outerbox{
    /* border: 1px solid black; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem ;
}
.formholder{
    /* border: 1px solid black; */
    box-shadow: 0px 10px 25px rgb(0 0 0 /5%),
0 20px 48px rgb(0 0 0 /5%),
0 1px 4px rgb(0 0 0 /10%);
min-height: 65vh;
max-height: 67vh;
display: flex;
align-items: center;

}
.authform {
border-radius:10px;
width: 30vw;
min-height: 35vh;
min-width: 40vw ;

}
input{
  
    border-radius: 10px;
    min-width: 30vw;
    /* height: 1.2rem; */
}
.createaccount{
    border-radius: 2rem !important;
min-width: 20vw;
max-width: 22vw;
background-color: white;
font-weight: bold;
color: rgb(5, 2, 12);
    border: 1px solid black;
   
    /* background-color: black; */
}
#buttondiv{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    min-width: 30vw;
   height: 2.5rem;
}
button:hover{
background-color: rgb(222, 222, 222);
   
   
}