.navbar{

    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

/* opacity: 0.3; */
min-height: 6rem;
background-color: rgb(57, 56, 56);
display: flex;
/* position: fixed; */
width: 100vw;
}


.navitems{
    display: flex; 
    margin-right:3.5rem ;

}
.navbarright{
    display: flex;
    width: 30vw;
  justify-content: center;
}


.navbarleft{
    display: flex;
    width: 60vw;
}


ul
{
    text-decoration: none;
}
.navlist {
    list-style: none;
    margin-right: 5rem;

}
.navlist a{
    text-decoration: none;
    color: rgb(88, 202, 240);   
    font-weight: 600;
    font-size: 23px; 
    margin: 16px;
    font-family: 'Comfortaa', cursive;
   
    
}
.navlist a:hover{


    color: white;
   
}



.authbutton{

border: none;
border-radius: 50px;
margin-right: 5rem;
background-color: rgb(57, 56, 56);

}

.authbutton:hover{

   /* background-color: white; */
background-color: rgb(57, 56, 56);

   /* color: black; */
}


