.navbar{

    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

/* opacity: 0.3; */
min-height: 3rem;
background-color: rgb(57, 56, 56);
display: flex;
/* position: fixed; */
width: 100vw;
z-index: 100;
position: fixed;
top: 0;
}


.navitems{
    display: flex; 
    margin-right:3.5rem ;

}
.navbarright{
    display: flex;
    width: 30vw;
  justify-content: center;
}


.navbarleft{
    display: flex;
    width: 60vw;
}


ul
{
    text-decoration: none;
}
.navlist {
    list-style: none;
    margin-right: 5rem;

}
.navlist a{
    text-decoration: none;
    color: rgb(88, 202, 240);   
    font-weight: 600;
    font-size: 15px; 
    margin: 10px;
    font-family: 'Comfortaa', cursive;
   
    
}
.navlist a:hover{


    color: white;
   
}



.authbutton{

border: none;
border-radius: 50px;
margin-right: 1rem;
background-color: rgb(57, 56, 56);

}

.authbutton:hover{

   /* background-color: white; */
background-color: rgb(57, 56, 56);

   /* color: black; */
}

.navsidebar{
    background-color: white;
}

/* @keyframes example {
    
  } */

/* 
@media screen and (max-width: 30000px) {
    .navbar {
      display: flex;
      height: 100vh;
      width: 13rem;
      flex-direction: row;
      transition: .3s;
    }
    .navbarright{
        display: contents;
       
    }
    
    
    .navbarleft{
        display: flex;
        width: 13rem;
        flex-direction: row;
    }
    .navitems{
        display: flex;
        flex-direction: column;
     
        justify-content: space-between;
    }
    .navlist{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   .hamburger{
    width: 30px;

    margin-left: 1rem;

   }
   .navselect{
 
    width: 11rem;

   }
   .closenav{
    top: 0;
    width: 30px;
    position: fixed;
    z-index: 110;
    background-color: white;
    margin-left: 1rem;
    color: white;
    margin-top: 0px;
    height: 45.5px;
 
   }

  } */