
body{
    background-image: url('../images/3dmarbel\ imgae-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: fill;
   
  }
  
  .outerbox{
height: 100vh;

  }
  .formholder {
      display: flex;
      flex-direction: column;
      margin:3rem ;
      gap: 1.5rem;
      padding: 1rem;
      max-width: 95vw;
      min-width: 90vw;
      justify-content: center;
      align-items: center;

     
    }
 
    
    form {
      display: grid;
      gap: 1.2rem;
      justify-content: center;
     min-width: 85vw;
    max-width: 88vw;
    margin: 2rem;
    /* font-size: 2rem; */
    box-sizing: border-box;
    }
    form input{

/* background-color: black; */
font-size: 1.7rem;
color: rgb(10, 10, 53);
    }

form>label>h6{
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}



    form td:last-child 
    {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7rem;
    
     
    }
    form td:last-child button{
      height: 3rem;
    
    }
    
    form  {
      font-size: 1.2rem;
     
    }
    .submit{
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius:50px ;
  color: rgb(88, 202, 240);
  background-color: rgb(0, 31, 67);
  font-size: 1.5rem;
  
  
  
  }
    .submit:hover{
  
  color: rgb(218, 159, 9);
  color: white;
  background-color: rgb(33, 39, 46);
  
    }

    .submit button:disabled,
    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      pointer-events: none;
    }
