.outertable{

  display: grid;
  gap: 1.2rem;
  justify-content: center;
 min-width: 85vw;
max-width: 88vw;
margin: 2rem;
box-sizing: border-box;
overflow: auto;
height: 70vh;


}
.outerbox{
    /* display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
        margin-top: 5rem; */
    /* border: 2px solid black; */
    /* overflow-y: auto;
    overflow-x: auto; */
    display: flex;
    flex-direction: column;
    margin:3rem ;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 95vw;
    min-width: 90vw;
    justify-content: center;
    align-items: center;
   /* background-color: black; */
padding-top: 0;
margin-top: 0;

}
   
table {
    border-collapse: collapse;
    min-width: 70vw;
  
  }
  
  th,
  td{
    text-align: left;
    padding: 1.2rem;
    font-size: 1.5rem;
  /* color: rgb(190, 255, 37); */
  }
  
  table td{
    /* border: 2px solid rgb(0, 0, 0); */
    border: 1px solid rgb(245, 240, 240);
  
  }
  th {
    /* background-color: rgb(117, 201, 250); */
    backdrop-filter: blur(7px);

  
  }
  
  td {
    /* background-color: rgb(205, 235, 253); */
    backdrop-filter: blur(6px);
color: white;
   
  }