
body{
  /* background-image: url('../images/istockphoto-636013786-1024x1024.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: cover;
 
}


.app-container {
    display: flex;
    flex-direction: column;
    margin:3rem ;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 95vw;
    min-width: 90vw;
    justify-content: center;
    align-items: center;
   /* background-color: black; */
  }
  
  table {
    border-collapse: collapse;
    min-width: 70vw;
  
  }
  
  th,
  td{
    text-align: left;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: rgb(5, 13, 82) !important;
    font-weight: bold;
  }
  
  table td{
    /* border: 2px solid rgb(0, 0, 0); */
    border: 1px solid rgb(45, 45, 45) !important;
  
  }
  th {
    /* background-color: rgb(117, 201, 250); */
    backdrop-filter: blur(7px);

  
  }
  
  td {
    /* background-color: rgb(205, 235, 253); */
    backdrop-filter: blur(7px);
color: rgb(10, 8, 8) !important;
font-weight: 600;
   
  }
  
  form {
    display: grid;
    gap: 1.2rem;
    justify-content: center;
   min-width: 85vw;
  max-width: 88vw;
  margin: 2rem;
  box-sizing: border-box;
  }
  
  form td:last-child 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
  
   
  }
  form td:last-child button{
    height: 3rem;
  
  }
  
  form  {
    font-size: 1.2rem;
   
  }
  .formaddbtn{

width: 10rem;
height: 3rem;
border: none;
border-radius:50px ;
color: rgb(88, 202, 240);
background-color: rgb(33, 39, 46);
font-size: 1.5rem;



}
  .formaddbtn:hover{

/* color: rgb(218, 159, 9); */
color: white;
background-color: rgb(33, 39, 46);

  }