.searchbar{


width: 100vw;
/* border: 2px solid black; */
height: 4rem;
margin-top: 5rem;
display: flex;
justify-content: right;
}
.inputsearchbar {
    height: 0.75rem;
    margin-right: 1.5rem;
    margin-top: 0.3rem;
    border-radius: 2rem;
    width: 250px;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bold;
    color: rgb(34, 151, 241);
    border: 2px solid rgb(11, 12, 12);
    padding: 1rem;
}
.inputsearchbar:hover{

    background-color: rgb(233, 233, 233);
    color: rgb(14, 14, 14);
    /* border: 3px solid white; */
}
@media screen and (max-width: 1150px) {
    .searchbar{
        margin-top: 0;
    }
}